<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Contacts-Groups</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

  <div class="container">

    <h1>Profiles</h1>

    <table class="table table-striped">

      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        <% for (let i = 0; i < profiles.length; i++) { %>

            <tr>
              <td><%= profiles[i].id %></td>
              <td><%= profiles[i].username %></td>
              <td><%= profiles[i].password %></td>
              <td>
                <a href="/profiles/edit/<%= profiles[i].id %>" class="btn btn-sm btn-default">Edit</a>
                <a href="/profiles/delete/<%= profiles[i].id %>" class="btn btn-sm btn-danger">Delete</a>
              </td>
            </tr>

        <% } %>

      </tbody>

    </table>

    <hr>

    <h3>Add a Profile</h3>

    <form action="/profiles" method="POST">

      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" required autofocus>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="password" id="password" class="form-control" required autofocus>
          </div>

          <button type="submit" class="btn btn-default">Submit</button>

        </div>
      </div>

    </form>

  </div>

</body>
</html>