<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts List</title>
  </head>
  <body>
    <h1>Adresses List</h1>
    <a href="/">Return to Home</a><br><br>
    <table>
      <thead>
        <th>Id</th>
        <th>Street</th>
        <th>City</th>
        <th>Zipcode</th>
        <th>Options</th>
      </thead>
      <tbody>
        <% data.forEach(rows=>{%>
        <tr>
          <td><%=rows.id%></td>
          <td><%=rows.street%></td>
          <td><%=rows.city%></td>
          <td><%=rows.zipcode%></td>
          <td>
            <a href="/addresses/edit/<%=rows.id%>">Edit</a>
            <a href="#">|</a>
            <a onclick="return confirm('Are you sure to delete this data?')" href="/addresses/delete/<%=rows.id%>">Delete</a>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <br>
    <form class="" action="/addresses" method="post">
      Street <br>
      <input type="text" name="street" placeholder="street"><br>
      City <br>
      <input type="text" name="city" placeholder="city"><br>
      Zipcode <br>
      <input type="text" name="zipcode" placeholder="zipcode"><br><br>
      <button type="post" name="button">Add Data</button>
    </form>
  </body>
</html>
