<!DOCTYPE html>
<html>
<head>
  <title>ADDRESS</title>
  <style>
    table{width:500px;border:1px solid #333;}
    table th{padding:5px;background: #ccc; text-align: left;}
    table td{padding:5px;}
  </style>
</head>
<body>
  <h1>ADDRESS</h1>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th>ID</th>
      <th>Street</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>&nbsp</th>
      <th>&nbsp</th>
    </tr>
    <% address.forEach (i =>{%>
      <tr>
        <td>&nbsp<%= i.id %></td>
        <td>&nbsp<%= i.street %></td>
        <td>&nbsp<%= i.city %></td>
        <td>&nbsp<%= i.zipcode %></td>
        <td><a href="/address/edit/<%= i.id %>">Edit</a></td>
        <td><a href="/address/delete/<%= i.id %>">Delete</a></td>
      </tr>
      <% }) %>
  </table>
  <form action="/address" method="post">
    <div>
      <label><b>Street<b></label><br>
      <input type="text" name="street" placeholder="street name">
    </div>
    <div>
      <label><b>City<b></label><br>
      <input type="text" name="city" placeholder="your city">
    </div>
    <div>
      <label><b>Zipcode<b></label><br>
      <input type="text" name="zipcode" placeholder="your zipcode">
    </div>
    <a href="/">Home</a>
    <button type="submit" name="submit">Add</button>
  </form>
</body>
</html>
