<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>

  <h3>Welcome, ?</h3>

  <table border="1" cellpadding="5">
    <thead>
      <th>No</th>
      <th>Street</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Action</th>
    </thead>
    <% let j = 1
      for(let i = 0; i < data.length; i++){ %>
      <tbody>
        <td><%= j %></td>
        <td><%= data[i].street %></td>
        <td><%= data[i].city %></td>
        <td><%= data[i].zipcode %></td>
        <td>
          <a href="/addresses/edit/<%= data[i].id %>">Edit</a>
          <a href="/addresses/delete/<%= data[i].id %>">Delete</a>
        </td>
      </tbody>
    <% j++ } %>
  </table>

  <form class="" action="/addresses" method="post" style="margin-top:20px">
    <table>
      <tr>
        <td>Street</td>
        <td>
          <input type="text" name="street" value="">
        </td>
      </tr>
      <tr>
        <td>City</td>
        <td>
          <input type="text" name="city" value="">
        </td>
      </tr>
      <tr>
        <td>Zipcode</td>
        <td>
          <input type="text" name="zipcode" value="">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" name="" value="Save">
        </td>
      </tr>
    </table>
  </form>

  <br>

  <a href="/"> << back to home </a>

</body>
</html>
