<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Address</title>
  </head>
  <body>
    <table border="2px">
      <thead>
        <tr>
          <td>ID</td>
          <td>Street</td>
          <td>City</td>
          <td>Zipcode</td>
          <td>Action</td>
        </tr>
      </thead>
    <tbody>
      <%dataAddresses.forEach(row =>{ %>
        <tr>
          <td><%=row.id%></td>
          <td><%=row.street%></td>
          <td><%=row.city%></td>
          <td><%=row.zipcode%></td>
          <td>
            <a href="/addresses/edit/<%=row.id%>">Edit</a>
            <a href="/addresses/delete/<%=row.id%>">Delete</a>
          </td>
        </tr>
      <%})%>
    </tbody>
    </table>
  </body>
</html>

<form action="/addresses" method="POST">
  Street:<br>
  <input type="text" name="street" placeholder="street">
  <br>
  City:<br>
  <input type="text" name="city" placeholder="city">
  <br>
  Zipcode:<br>
  <input type="text" name="zipcode" placeholder="zipcode">
  <br><br>
  <input type="submit" value="Submit">
</form>
