<!DOCTYPE html>
<html>
  <head>
    <title>Welcome | PJAP17</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Halaman Address</h1>
    <table border="1px;">
      <thead>
        <tr>
          <th>ID</th>
          <th>STREET</th>
          <th>CITY</th>
          <th>ZIPCODE</th>
          <th colspan="2">STATUS</th>
        </tr>
      </thead>
      <tbody>
        <%dataAddress.forEach( row => { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.street %></td>
          <td><%= row.city %></td>
          <td><%= row.zipcode %></td>
          <td>
            <a href="/addresses/edit/<%= row.id %>"><button class="button2">Edit</button></a>
            <a href="/addresses/delete/<%= row.id %>"><button class="button2">Hapus</button></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div style="padding-left:54%;padding-top:10px;">
      <a href="/addresses/addaddresses/%>"><button class="button2">Add Address</button></a>
      <a href = "/groups" style="color:black"><button class="button2">Back To Groups</button></a>
      <a href = "/profiles" style="color:black"><button class="button2">Back To Profiles</button></a>
      <a href = "/contacts" style="color:black"><button class="button2">Back To Contacts</button></a>
    </div>

  </body>
</html>
