<!DOCTYPE html>
<html>
  <head>
    <title>Welcome | PJAP17</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Halaman Contacts</h1>
    <table border="1px;">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>COMPANY</th>
          <th>TELP</th>
          <th>STATUS</th>
          <th colspan="2">STATUS</th>
        </tr>
      </thead>
      <tbody>
        <%dataContacts.forEach( row => { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.name %></td>
          <td><%= row.company %></td>
          <td><%= row.telp %></td>
          <td><%= row.email %></td>
          <td>
            <a href="/contacts/edit/<%= row.id %>"><button class="button2">Edit</button></a>
            <a href="/contacts/delete/<%= row.id %>"><button class="button2">Hapus</button></a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <div style="padding-left:54%;padding-top:10px;">
      <a href="/contacts/addcontacts/%>"><button class="button2">Add Contacts</button></a>
      <a href = "/groups" style="color:black"><button class="button2">Back To Groups</button></a>
      <a href = "/profiles" style="color:black"><button class="button2">Back To Profiles</button></a>
      <a href = "/addresses" style="color:black"><button class="button2">Back To Addresses</button></a>
    </div>

  </body>
</html>
