<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    CONTACTS<br>
    <table border="1">
      <tr>
        <td>id</td>
        <td>name</td>
        <td>company</td>
        <td>telp_number</td>
        <td>email</td>
        <td>actions</td>
      </tr>

      <% for(var i in contacts) {%>
        <tr>
          <td><%=contacts[i].id%></td>
          <td><%=contacts[i].name%></td>
          <td><%=contacts[i].company%></td>
          <td><%=contacts[i].telp_number%></td>
          <td><%=contacts[i].email%></td>
          <td><a href="/contacts/edit/:<%=contacts[i].id%>">edit</a>|<a href="/contacts/delete/:<%=contacts[i].id%>">delete</a></td>
        </tr>
      <%}%>

    </table>

    <form action="/contacts" method="POST">
    Name:<br>
    <input type="text" name="name"><br>
    Company:<br>
    <input type="text" name="company"><br>
    Telp Number:<br>
    <input type="text" name="telp_number"><br>
    Email:<br>
    <input type="text" name="email">
    <input type="submit">
    </form>

  </body>
</html>
