<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
</head>
<body> 
    <form action='/contacts/edit/<%= dataJsonContact[0].id %>' method="post" >
      Name: <input type="text" name="nama" value="<%= dataJsonContact[0].nama %>"><br>
      Company: <input type="text" name="email" value="<%= dataJsonContact[0].company %>"><br>
      Telepon: <input type="text" name="company" value="<%= dataJsonContact[0].telp_number %>"><br>
      Email: <input type="text" name="phone" value="<%= dataJsonContact[0].email %>"><br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>