<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Profiles</title>
  </head>
  <body>
    <table border="2px">
      <thead>
        <tr>
          <td>ID</td>
          <td>Username</td>
          <td>Password</td>
          <td>Action</td>
        </tr>
      </thead>
    <tbody>
      <%dataProfiles.forEach(row => { %>
        <tr>
          <td><%=row.id%></td>
          <td><%=row.username%></td>
          <td><%=row.password%></td>
          <td>
            <a href="profiles/edit/<%=row.id%>">Edit</a>
            <a href="profiles/delete/<%=row.id%>">Delete</a>
          </td>
        </tr>
    <%})%>
    </tbody>
  </table>
  </body>
</html>
<form action="/profiles" method="POST">
  Username:<br>
  <input type="text" name="username" placeholder="username">
  <br>
  Password:<br>
  <input type="text" name="password" placeholder="password">
  <br><br>
  <input type="submit" value="Submit">
</form>
