<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Halaman Edit Profile</h1>
    <a href="/">Back to Home</a>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Password</th>
          </tr>
      </thead>
      <tbody>
        <%dataProfile.forEach(rows =>{ %>
          <tr>
            <td><%=rows.id%></td>
            <td><%=rows.username%></td>
            <td><%=rows.password%></td>
          </tr>
        <%})%>
      </tbody>
    </table>
    <br>
    <form action="/profile/edit/<%=dataProfile[0].id%>" method="POST">
      <fieldset>
        <legend>Edit Data Profile:</legend>
        Username:<br>
        <input type="text" name="username" value="<%=dataProfile[0].username%>" placeholder="Username">
        <br>
        Password:<br>
        <input type="text" name="password" value="<%=dataProfile[0].password%>" placeholder="Password">
        <br><br>
        <input type="submit" value="SUBMIT">
      </fieldset>
    </form>
  </body>
</html>
